# Logs
logs
*.log
npm-debug.log*

# Runtime data
pids
*.pid
*.seed
*.pid.lock

# Dependency directories
node_modules/

# Optional 
.npm
.eslintcache

# dotenv 
.env

# Linux
*~
.fuse_hidden*
.directory
.Trash-*
.nfs*

# VSCode
.vscode/